body {
  font-family: sans-serif;
  margin: auto;
  font-size: 100px;
  max-width: 1280px;
  background-color: #e4e4e4;
}
a {
  color: inherit;
}
#main {
  font-weight: 400;
  color: #474747;
  text-align: center;

}

#goToSiteAnyWay {
  font-size: 16px;
  text-decoration: inherit;
  text-decoration: underline;
  color: #ededed;
  text-align: center;
}

